<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="formGroup" (ngSubmit)="logIn()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button type="submit" color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
