<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="formGroup" (ngSubmit)= "registerProcess()">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
  <!--
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field> -->

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select>
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

      </mat-card-content>

      <button mat-stroked-button type="submit" color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
