<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a mat-button routerLink="home" routerLinkActive="" class="positronx">
    <mat-icon>home</mat-icon>Home</a>
  </div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
